<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @joy.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @joy.address %>
</p>

<%= link_to 'Edit', edit_joy_path(@joy) %> |
<%= link_to 'Back', joys_path %>
